extends base.pug

block scripts
  script(src='../static/index.js')

block style
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content
    div.container
        h1#main
            span About US
        div.mini
            p 
            span#color Welcome,Namaskar.
            span#plane ipsum dolor sit amet consectetur adipisicing elit. Ex itaque consequuntur blanditiis consectetur ratione aliquid eos, doloribus vel dolor corrupti minima magni voluptates impedit animi, mollitia incidunt aliquam corporis eaque magnam eligendi officiis? Hic?
            div.box
                h1#new THE WORLD IS BURNING WHATSAPP
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed unde ut quos distinctio alias ipsa maxime repellendus? Quos est corporis quidem maiores repellat eum dolorum, iste possimus illum doloribus provident nihil a optio autem atque totam vitae? Distinctio, ipsum, iure deleniti rerum, blanditiis expedita ullam itaque cum facere molestiae sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam deserunt quibusdam, maxime ipsum assumenda mollitia qui fugit minima, porro praesentium nobis blanditiis exercitationem nemo laudantium similique beatae et natus! Obcaecati, maiores blanditiis! Voluptate, repellat.
            div.box2
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus quaerat eius explicabo suscipit autem laudantium fugit facere nemo ea sunt, sapiente, numquam ratione fugiat ipsa ad, quod quisquam vitae cumque neque distinctio maxime fuga? Provident culpa porro ipsum sunt natus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus distinctio quia illum unde eveniet consectetur debitis. Repellendus ipsum corporis blanditiis quos, beatae debitis quisquam animi ipsa aperiam at atque adipisci veniam tenetur vitae molestiae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus illum culpa, doloribus sapiente incidunt blanditiis laborum praesentium fugiat numquam veritatis perspiciatis porro? Excepturi, totam ex. Atque qui labore, minus aliquam ducimus nostrum ipsa voluptatem.
                h1#old WE STAND FOR AMAZING
