doctype html
html
  head
    title Moto Dance Club
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/picture/mainllo.png")
                | MDC
            li #[a(href="/") Home]
            li #[a(href="/about") About]
            li #[a(href="/service") Services]
            li #[a(href="/ClassInfo") Class Info]
            li #[a(href="/contact") Contact Us]
    block content
    footer#footer 
      | Copyright © 2019 MotoDanceClub.com | All right reserved
      